/* ANTD - LAYOUT */
.ant-layout {
  min-height: 100vh;
}

.ant-layout-footer {
  padding: 0px 16px;
  height: 48px;
  line-height: 48px;
}

.ant-layout-header {
  background: #fff;
}

.ant-layout-content {
  margin: 0px 16px;
}

.ant-breadcrumb {
  height: 40px;
  line-height: 40px;
  margin: 4px 0px;
}

/* MENU - TITLE ITEM */
.ant-menu-inline-collapsed .ant-menu-item-group-title {
  height: 2px;
  padding: 0px;
  background: orange;
}

.ant-menu-item-group-title {
  color: orange !important;
  font-weight: 600;
  transition: none;
}

/* PADDING - MARGIN */
.ant-menu-submenu {
  padding-bottom: 0px !important;
}

.ant-menu-submenu-title {
  margin-bottom: 0px !important;
}

.ant-menu-item {
  margin: 4px 0px !important;
}

.ant-menu-item-group-title {
  margin: 4px 0px !important;
}

/* BACKGROUND COLOR */
.ant-menu li:hover {
  background: #123456 !important;
}

.ant-menu.ant-menu-dark .ant-menu-submenu-title {
  background: #0f1f2f;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background: cornflowerblue;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected:hover {
  background: dodgerblue !important;
}
